<div class="accordion-item">
    <h2 class="accordion-header" id="headingQuejaActual">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuejaActual" aria-expanded="true" aria-controls="collapseQuejaActual">
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M220,160a12,12,0,1,1-12-12A12,12,0,0,1,220,160Zm-4.55,39.29A48.08,48.08,0,0,1,168,240H144a48.05,48.05,0,0,1-48-48V151.49A64,64,0,0,1,40,88V40a8,8,0,0,1,8-8H72a8,8,0,0,1,0,16H56V88a48,48,0,0,0,48.64,48c26.11-.34,47.36-22.25,47.36-48.83V48H136a8,8,0,0,1,0-16h24a8,8,0,0,1,8,8V87.17c0,32.84-24.53,60.29-56,64.31V192a32,32,0,0,0,32,32h24a32.06,32.06,0,0,0,31.22-25,40,40,0,1,1,16.23.27ZM232,160a24,24,0,1,0-24,24A24,24,0,0,0,232,160Z"></path></svg>
           <strong class="mx-2"> Queja Actual</strong>
        </button>
    </h2>
    <div id="collapseQuejaActual" class="accordion-collapse collapse" aria-labelledby="headingQuejaActual" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         <a href="{{ path('queja_actual_new', {'id': paciente.id}) }}" class="btn btn-primary">Añadir queja</a>
            {% if data.queja_actual is empty %}
                <p>Sin datos</p>
            {% else %}
                <table class="table table-striped">
                        <thead class="text-center">
                            <tr>
                                <th>Queja</th>
                                <th>Descripción</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                     <tbody>
                    {% for queja in data.queja_actual %}
                         <tr class="text-center">
                            <td> {{ queja.queja }}</td>
                            <td>{{ queja.descripcion }}</td>
                            <td>{{ queja.creadoEn|date('d-m-Y H:i') }}</td>
                         </tr>
                    {% endfor %}
                     </tbody>
                </table>
                {% endif %}
        </div>
    </div>
</div>