<div class="accordion-item">
    <h2 class="accordion-header" id="headingResultadosPruebas">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseResultadosPruebas" aria-expanded="true" aria-controls="collapseResultadosPruebas">
            Resultados de Pruebas
        </button>
    </h2>
    <div id="collapseResultadosPruebas" class="accordion-collapse collapse show" aria-labelledby="headingResultadosPruebas" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {% if data.resultados_pruebas is empty %}
                <p>Sin datos</p>
            {% else %}
                <ul>
                    {% for prueba in data.resultados_pruebas %}
                        <li>{{ prueba.nombrePrueba }}: {{ prueba.resultado }}, Fecha: {{ prueba.fechaPrueba|date('d-m-Y') }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{{ path('resultados_pruebas_new', {'id': paciente.id}) }}" class="btn btn-primary">Añadir Resultado de Prueba</a>
        </div>
    </div>
</div>
