{% extends 'base.html.twig' %}

{% block title %}SaluData - Salud Total{% endblock %}


{% block body %}
<main class="flex-1 pt-32">
    <section class="container pt-5 mt-5 py-4 px-5 lg:px-20">
        <!-- Centrado y transparencia de imagen principal -->
        <article class="text-center py-5">
            <img src="images/sanitarios.jpg" id="sanitarios" style="max-width: 100%; height: auto; opacity: 0.8;">
        </article>
    </section>
</main>
{% endblock %}


{%block javascripts%}

{{parent()}}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const img = document.getElementById('sanitarios');

    document.addEventListener('mousemove', function(e) {
        const { clientX, clientY } = e;
        const centerX = img.offsetLeft + img.clientWidth / 2;
        const centerY = img.offsetTop + img.clientHeight / 2;
        const deltaX = (clientX - centerX) * 0.05;
        const deltaY = (clientY - centerY) * 0.05;

        img.style.transform = `translate(${deltaX}px, ${deltaY}px)`;
    });
});
</script>

{% endblock%}
