container_commands:
  01_migrations:
    command: "php bin/console doctrine:migrations:migrate --no-interaction"
  02_cache_clear:
    command: "php bin/console cache:clear --no-warmup"
  03_config_cache:
    command: "php bin/console cache:warmup"
  04_load_fixtures:
    command: "php bin/console doctrine:fixtures:load --no-interaction"
