{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<main class="flex-1 pt-3">
    <section class="container py-4 px-5 lg:px-20">
        <!-- Centrado y transparencia de imagen principal -->
<article class="text-center mt-5 pt-3">

<a href="{{ path('app_registar_paciente') }}" class="btn btn-primary bi bi-clipboard2-plus-fill">
    Registrar nuevo paciente
</a>

</article>

 <article class="text-center">
    <h2 class="mt-5 mb-3 text-center">LISTADO DE PACIENTES</h2>
    <table id="pacientesTabla" class="table table-striped table-hover table-bordered">
        <thead class="bg-primary">
            <tr>
                <th class="text-center text-white">ID</th>
                <th class="text-center text-white">DNI</th>
                <th class="text-center text-white">NOMBRE</th>
                <th class="text-center text-white">APELLIDOS</th>
                <th class="text-center text-white"> ACCIONES </th>
            </tr> 
        </thead>
        <tbody class="text-center">

        </tbody>
    </table>

</article>
</section>
</main>
{% endif %}

<script>

$(document).ready(function() {
            $('#registerPatientModal').on('show.bs.modal', function(e) {
            // resetea el formulario completo dejando sin datos
            $('#registerPatientForm').trigger('reset');
        });

        // cuando el modal está completamente abierto enfoca el primer campo
        $('#registerPatientModal').on('shown.bs.modal', function(e) {
            $('#registerPatientForm input:first').focus();
        });

    var pacientesTabla = $('#pacientesTabla').DataTable({
        "processing": true,
        "serverSide": false,
        "autoWidth": false,
        "ajax": {
            "url": "{{ path('perfil_data') }}"
        },
        "columns": [
                { "data": "id",
                "className": "text-center" },
                { "data": "dni" },
                { "data": "nombre" },
                { "data": "apellidos" },
                { "data": "acciones", "className": "text-center", "orderable": false },
        ],
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
        },
       });
});


</script>

{% endblock %}