{% extends 'base.html.twig' %}

{% block title %}Listado Pacientes
{% endblock %}

{% block body %}
	<style>
		.btn-light {
			width: 60px;
			margin-right: 20px;
			background-color: #ddd;
		}
		.bg-custom {
			background-color: #1db1bc !important;
		}
	</style>
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<main class="flex-1 pt-3 mt-3">
			<section class="container py-4 px-5 lg:px-20">
				<article class="text-center">
					<h2 class="mt-5 mb-3 text-center">LISTADO DE PACIENTES</h2>
					<table id="pacientesTabla" class="table table-hover ">
						<thead class="bg-custom">
							<tr>
								<th class="text-center text-white">ID</th>
								<th class="text-center text-white">DNI</th>
								<th class="text-center text-white">NOMBRE</th>
								<th class="text-center text-white">APELLIDOS</th>
								<th class="text-center text-white">
									ACCIONES
								</th>
							</tr>
						</thead>
						<tbody class="text-center"></tbody>
					</table>
				</article>
			</section>
		</main>

		<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmacionModalLabel">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que quieres eliminar este paciente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmarEliminarBtn">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de resultado de eliminación -->
<div class="modal fade" id="resultadoModal" tabindex="-1" aria-labelledby="resultadoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultadoModalLabel">Resultado de la eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="resultadoModalBody">
                <!-- Aquí se mostrará el mensaje de éxito o error -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

	{% endif %}
  	<script>
		if (!window.location.hash.includes('listado')) {
window.location.hash = 'listado';
window.location.reload();
}

let pacienteIdToDelete;

    function eliminarPaciente(id) {
        pacienteIdToDelete = id;
        var confirmacionModal = new bootstrap.Modal(document.getElementById('confirmacionModal'));
        confirmacionModal.show();
    }

    document.getElementById('confirmarEliminarBtn').addEventListener('click', function () {
        $.ajax({
            url: '/perfil/eliminar/' + pacienteIdToDelete,
            type: 'POST',
            success: function(response) {
                var resultadoModal = new bootstrap.Modal(document.getElementById('resultadoModal'));
                document.getElementById('resultadoModalBody').innerText = response.message;
                resultadoModal.show();
                if (response.status === 'success') {
                    $('#pacientesTabla').DataTable().ajax.reload();
                }
            },
            error: function() {
                var resultadoModal = new bootstrap.Modal(document.getElementById('resultadoModal'));
                document.getElementById('resultadoModalBody').innerText = 'Error al eliminar el paciente.';
                resultadoModal.show();
            },
            complete: function() {
                var confirmacionModalElement = document.getElementById('confirmacionModal');
                var confirmacionModalInstance = bootstrap.Modal.getInstance(confirmacionModalElement);
                confirmacionModalInstance.hide();
            }
        });
    });


$(document).ready(function () {
var pacientesTabla = $('#pacientesTabla').DataTable({
"processing": false,
"serverSide": false,
"autoWidth": false,
"ajax": {
"url": "{{ path('perfil_data') }}"
},
"columns": [
{
"data": "id",
"className": "text-center"
},
{
"data": "dni"
},
{
"data": "nombre"
},
{
"data": "apellidos"
}, {
"data": "acciones",
"className": "text-center",
"orderable": false
},
],
"language": {
"decimal": "",
"emptyTable": "No hay información disponible",
"info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
"infoEmpty": "Mostrando 0 a 0 de 0 entradas",
"infoFiltered": "(filtrado de un total de _MAX_ entradas)",
"infoPostFix": "",
"thousands": ",",
"lengthMenu": "Mostrar _MENU_ entradas",
"loadingRecords": "Cargando...",
"processing": "Procesando...",
"search": "Buscar:",
"zeroRecords": "No se encontraron registros coincidentes",
"select": {
"rows": {
"_": "%d filas seleccionadas",
"0": "Haz clic en una fila para seleccionarla",
"1": "1 fila seleccionada"
}
}
}
});
});
	</script>

{% endblock %}
